.ui-night-mode{
    background-color: #252525;
}
.ui-night-mode .m-title,
.ui-night-mode .m-astitle > h5{
    color: #707070;
}
.ui-night-mode .ui-style4-input input[type="text"]{
    background-color: transparent;
    color: #707070;
}
.ui-night-mode .el-line4{
    background-color: #464646;
}
.ui-night-mode #content,
.ui-night-mode > body{
    background-color: transparent;
}
.ui-night-mode .ui-style4-btn{
    opacity: .3;
    color: #252525;
}
.ui-night-mode input::-webkit-input-placeholder{
    color: #707070;
}
.ui-night-mode input::-moz-placeholder{
    color: #707070;
}
.ui-night-mode input::-ms-input-placeholder{
    color: #707070;
}