@font-face {font-family: "iconfont";
  src: url("iconfont_161f1b6.eot-t=1483077491122")/*tpa=http://s3.pstatp.com/bytecom/resource/tetris/lib/fonts/iconfont_161f1b6.eot?t=1483077491122*/; /* IE9*/
  src: url("iconfont_161f1b6.eot-t=1483077491122#iefix")/*tpa=http://s3.pstatp.com/bytecom/resource/tetris/lib/fonts/iconfont_161f1b6.eot?t=1483077491122#iefix*/ format('embedded-opentype'),
  url("iconfont_8084263.woff-t=1483077491122")/*tpa=http://s3.pstatp.com/bytecom/resource/tetris/lib/fonts/iconfont_8084263.woff?t=1483077491122*/ format('woff'), /* chrome, firefox */
  url("iconfont_f47d57e.ttf-t=1483077491122")/*tpa=http://s3.pstatp.com/bytecom/resource/tetris/lib/fonts/iconfont_f47d57e.ttf?t=1483077491122*/ format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url("iconfont_c9f500e.svg-t=1483077491122#iconfont")/*tpa=http://s3.pstatp.com/bytecom/resource/tetris/lib/fonts/iconfont_c9f500e.svg?t=1483077491122#iconfont*/ format('svg'); /* iOS 4.1- */
}

.iconeditor, [class^="iconeditor-"], [class*=" iconeditor-"],
[class^="icon-"], [class*=" icon-"]{
  font-family:"iconfont" !important;
  /*font-size:14px;*/
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconeditor-app:before { content: "\e605"; }

.iconeditor-browser:before { content: "\e606"; }

.iconeditor-camera:before { content: "\e608"; }

.iconeditor-cart:before { content: "\e60a"; }

.iconeditor-check:before { content: "\e60b"; }

.iconeditor-code:before { content: "\e60c"; }

.iconeditor-computer:before { content: "\e60d"; }

.iconeditor-deliver:before { content: "\e611"; }

.iconeditor-display:before { content: "\e612"; }

.iconeditor-favor:before { content: "\e619"; }

.iconeditor-home:before { content: "\e626"; }

.iconeditor-information:before { content: "\e627"; }

.iconeditor-like:before { content: "\e629"; }

.iconeditor-link:before { content: "\e62a"; }

.iconeditor-mail:before { content: "\e62e"; }

.iconeditor-mark:before { content: "\e62f"; }

.iconeditor-message:before { content: "\e631"; }

.iconeditor-my:before { content: "\e635"; }

.iconeditor-notification:before { content: "\e637"; }

.iconeditor-phone:before { content: "\e63b"; }

.iconeditor-record:before { content: "\e63f"; }

.iconeditor-roundcheck:before { content: "\e646"; }

.iconeditor-search:before { content: "\e648"; }

.iconeditor-service:before { content: "\e649"; }

.iconeditor-shopping:before { content: "\e64b"; }

.iconeditor-sitting:before { content: "\e64c"; }

.iconeditor-tag:before { content: "\e64d"; }

.iconeditor-toleft:before { content: "\e650"; }

.iconeditor-toright:before { content: "\e651"; }

.iconeditor-unlock:before { content: "\e655"; }

.iconeditor-video:before { content: "\e657"; }

.iconeditor-mac:before { content: "\e667"; }

.iconeditor-windows:before { content: "\e668"; }

.iconeditor-android:before { content: "\e669"; }

.icon-link:before { content: "\e628"; }

.icon-location:before { content: "\e62b"; }

.icon-radio_hover:before { content: "\e62c"; }

.icon-left_arrow:before { content: "\e62d"; }

.icon-telphone_circle:before { content: "\e630"; }

.icon-telphone_left:before { content: "\e632"; }

.icon-telphone_right:before { content: "\e633"; }

.icon-contactus:before { content: "\e634"; }


