body{
    font-size: 18px;
    font-family: 'Libre Franklin', Helvetica, Arial, sans-serif;
    margin-top: 51px;
}
a:link,a:visited{
    text-decoration:none;  /*超链接无下划线*/
}
a:hover{
    text-decoration:underline;  /*鼠标放上去有下划线*/
}
a{text-decoration:none;color:#333;}
.home-ico{
    width: 90%;
}
.apply-ico{
    width: 90%;
}
.home_operation{
	font-size: 15px;
}