@charset "utf-8";

@font-face{font-family:'Jenna Sue';src:url('../fonts/jennasue-webfont.eot');src:url('../fonts/jennasue-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/jennasue-webfont.woff') format('woff'),url('../fonts/jennasue-webfont.ttf') format('truetype'),url('../fonts/jennasue-webfont.svg#AsapRegular') format('svg');font-weight:normal;font-style:normal;}
body{
	text-align: center;
	margin-top: 57px;
}
a:link{
	text-decoration:none;
}
a:visited{
	text-decoration:none;
}
a:hover{
	text-decoration:none;
}
a:active{
	text-decoration:none;
}
.img_404{
	margin-top:20px;
	width: 100%;
}
.reason_title{
	font-size: 20px;
	text-align: right;
}
.reason{
	font-size: 18px;
	margin-left:10%;
	text-align: left;
}
.error_return{
	margin-top:40px;
	font-size: 20px;
}
.error{  font: 25px Jenna Sue, Helvetica, Arial, sans-serif;}