@charset "utf-8";

@font-face{font-family:'Jenna Sue';src:url('../fonts/jennasue-webfont.eot');src:url('../fonts/jennasue-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/jennasue-webfont.woff') format('woff'),url('../fonts/jennasue-webfont.ttf') format('truetype'),url('../fonts/jennasue-webfont.svg#AsapRegular') format('svg');font-weight:normal;font-style:normal;}
body{
	height: auto;
	background-color: steelblue;
	text-align: center;
}
.img_404{
	margin-top:20px;
	width: 80%;
}
.error{ color: #FBD436; font: 25px Jenna Sue, Helvetica, Arial, sans-serif;}