<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xin.mapper.AcademyMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.xin.model.Academy">
		<id column="a_id" property="aId" />
		<result column="a_school" property="aSchool" />
		<result column="a_major" property="aMajor" />
		<result column="a_flag" property="aFlag" />
	</resultMap>

</mapper>
