<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xin.mapper.AcademyMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.xin.bean.Academy">
		<id column="a_id" property="aId" />
		<result column="a_school" property="aSchool" />
		<result column="a_major" property="aMajor" />
		<result column="a_flag" property="aFlag" />
	</resultMap>
	
	<select id="selectAll" resultMap="BaseResultMap">
		SELECT distinct a_school FROM academy
	</select>
	
	<select id="selectByName" resultMap="BaseResultMap">
		SELECT * FROM academy WHERE a_school = #{aSchool}
	</select>
	
	<insert id="insertByid" >
		INSERT INTO academy(a_school,a_major,a_flag) VALUES(#{aSchool},#{aMajor},#{aFlag})
	</insert>
	
	<select id="selectById" resultMap="BaseResultMap">
		SELECT * FROM academy WHERE a_id = #{aId}
	</select>
	
	<delete id="deleteById">
		DELETE FROM academy WHERE a_id = #{aId}
	</delete>
	
	<update id="updateById">
		UPDATE academy SET a_school = #{aSchool},a_major = #{aMajor},a_flag = #{aFlag} WHERE a_id = #{aId}
	</update>
    
    <select id="selectPage" resultMap="BaseResultMap">
    	SELECT * 
    	FROM academy
    	<where>
    		<if test="aMajor != null and aMajor != '' ">
    			a_major = #{aMajor}
    		</if>
    		<if test="aSchool != null and aSchool != '' ">
    			a_school = #{aSchool}
    		</if>
    	</where>
    </select>

</mapper>
