<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xin.mapper.ArtexamMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.xin.bean.Student">
		<id column="s_id" property="sId" />
		<result column="s_name" property="sName" />
		<result column="s_studentno" property="studentNo"/>
		<result column="user_id" property="userId" />
		<result column="id_number" property="idNumber" />
		<result column="s_phone" property="sPhone" />
		<result column="s_content" property="sContent" />
		<result column="academy_id" property="academyId" />
		<result column="s_gradations" property="sGradations" />
		<result column="s_systme" property="sSystme" />
		<result column="s_date" property="sDate" />
		<result column="s_type" property="stype"/>
		
		<collection property="listUser" ofType="com.xin.bean.User">
			<id column="id" property="id" />
			<result column="name" property="name" />
		</collection>	
	</resultMap>
	
	<sql id="Studentcolumn">
		s_studentno,s_name,user_id,s_phone,s_content,s_date,s_type
	</sql>
	
	<select id="selectAll" resultMap="BaseResultMap">
		SELECT * FROM student WHERE s_type = 4
	</select>

	<insert id="insertByid" >
		INSERT INTO student(<include refid="Studentcolumn" />) 
		VALUES(
		#{studentNo},
		#{sName},
		#{userId},
		#{sPhone},
		#{sContent},
		#{sDate},
		#{stype}
		)
	</insert>
	
	<select id="selectById" resultMap="BaseResultMap">
		SELECT 
    		s_id,
	    	s_studentno,
	    	s_name,
	    	user_id,
	    	s_phone,
	    	s_content,
	    	s_date,
	    	u.id,
	    	u.`name`
    	FROM student s
    	LEFT JOIN user u ON s.user_id = u.id
		WHERE s_id = #{sId} and s_type = 4
	</select>
	
	<delete id="deleteById">
		DELETE FROM student WHERE s_id = #{sId}
	</delete>
	
	<update id="updateById">
		UPDATE student SET 
			s_name = #{sName},
			user_id = #{userId},
			s_phone = #{sPhone},
			s_content = #{sContent},
			s_date = #{sDate}
		 WHERE 
		 	s_id = #{sId}
	</update>
    
    <select id="selectPage" resultMap="BaseResultMap">
    	SELECT 
    		s_id,
	    	s_studentno,
	    	s_name,
	    	user_id,
	    	s_phone,
	    	s_content,
	    	s_date,
	    	u.id,
	    	u.`name`
    	FROM student s
    	LEFT JOIN user u ON s.user_id = u.id
    	<where>
    		s_type = 4
    		<if test="name != null and name != '' ">
    			and s_name = #{name}
    		</if>
    		<if test="studentNo != null and studentNo != '' ">
    			and s_studentno = #{studentNo}
    		</if>
    	</where>
    </select>

</mapper>
