<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xin.mapper.HomeContentMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.xin.bean.HomeContent">
		<id column="hc_id" property="hcId" />
		<result column="picture_one" property="pictureOne" />
		<result column="picture_two" property="pictureTwo" />
		<result column="picture_three" property="pictureThree" />
		<result column="qrcode_one" property="qrcodeOne" />
		<result column="qrcode_two" property="qrcodeTwo" />
		<result column="hc_phone" property="hcPhone" />
		<result column="hc_address" property="hcAddress" />
		<result column="interlinkage_one" property="interlinkageOne" />
		<result column="interlinkage_two" property="interlinkageTwo" />
		<result column="interlinkage_three" property="interlinkageThree" />
		<result column="interlinkage_four" property="interlinkageFour" />
	</resultMap>
	
	<sql id="field">
		hc_id,
		picture_one,
		picture_two,
		picture_three,
		qrcode_one,
		qrcode_two,
		hc_phone,
		hc_address,
		interlinkage_one,
		interlinkage_two,
		interlinkage_three,
		interlinkage_four
	</sql>
	
	<sql id="insertfield">
		picture_one,
		picture_two,
		picture_three,
		qrcode_one,
		qrcode_two,
		hc_phone,
		hc_address,
		interlinkage_one,
		interlinkage_two,
		interlinkage_three,
		interlinkage_four
	</sql>
	
	<sql id="tableName">
		home_content
	</sql>
	
	<select id="selectHomeOne" resultMap="BaseResultMap">
		select 
			<include refid="field" /> from home_content limit 0,1
	</select>
	
	<select id="selectHomeContentPage" resultMap="BaseResultMap">
		select 
			<include refid="field" /> from home_content
	</select>
	
	<select id="selectHomeContentById" parameterType="Integer" resultMap="BaseResultMap">
		select 
			<include refid="field" /> from home_content where hc_id = #{id}
	</select>
	
	<insert id="HomeContentInsert" parameterType="com.xin.bean.HomeContent">
		insert into <include refid="tableName" />(<include refid="insertfield" />) VALUES(
			#{pictureOne},
			#{pictureTwo},
			#{pictureThree},
			#{qrcodeOne},
			#{qrcodeTwo},
			#{hcPhone},
			#{hcAddress},
			#{interlinkageOne},
			#{interlinkageTwo},
			#{interlinkageThree},
			#{interlinkageFour}
		)
	</insert>
	
	<update id="updateHomeContent" parameterType="com.xin.bean.HomeContent">
		update <include refid="tableName" /> 
		<set>
			<if test="pictureOne!=null and pictureOne!='' ">
				picture_one=#{pictureOne},
			</if>
			<if test="pictureTwo!=null and pictureTwo!='' ">
				picture_two=#{pictureTwo},
			</if>
			<if test="pictureThree!=null and pictureThree!='' ">
				picture_three=#{pictureThree},
			</if>
			<if test="qrcodeOne!=null and qrcodeOne!='' ">
				qrcode_one=#{qrcodeOne},
			</if>
			<if test="qrcodeTwo!=null and qrcodeTwo!='' ">
				qrcode_two=#{qrcodeTwo},
			</if>
			<if test="hcPhone!=null and hcPhone!='' ">
				hc_phone=#{hcPhone},
			</if>
			<if test="hcAddress!=null and hcAddress!='' ">
				hc_address=#{hcAddress},
			</if>
			<if test="interlinkageOne!=null and interlinkageOne!='' ">
				interlinkage_one=#{interlinkageOne},
			</if>
			<if test="interlinkageTwo!=null and interlinkageTwo!='' ">
				interlinkage_two=#{interlinkageTwo},
			</if>
			<if test="interlinkageThree!=null and interlinkageThree!='' ">
				interlinkage_three=#{interlinkageThree},
			</if>
			<if test="interlinkageFour!=null and interlinkageFour!='' ">
				interlinkage_four=#{interlinkageFour}
			</if>
		</set>
		where hc_id=#{hcId}
	</update>
	
	<delete id="deleteHomeContent" parameterType="Integer">
		delete from <include refid="tableName" /> where hc_id=#{hcId}
	</delete>
</mapper>
