<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xin.mapper.NoticeMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.xin.bean.Notice">
		<id column="n_id" property="nId" />
		<result column="n_title" property="nTitle" />
		<result column="n_content" property="nContent" />
		<result column="n_date" property="nDate" />
		<result column="n_flag" property="nFlag" />
	</resultMap>
	<resultMap type="com.xin.commons.utils.PageJson" id="PageResult">
		<result property="total" column="total"/>
	</resultMap>
	<sql id="Base_notice">
		n.n_id,n.n_title,n.n_content,n.n_date,n.n_flag
	</sql>
	
	<select id="selectNoticePage" resultMap="BaseResultMap">
		select n_id,n_title,n_content,n_date,n_flag from notice 
		<where>
            <if test=" nTitle != null and nTitle != '' ">
                n_title like #{nTitle}
            </if>
            <if test=" nFlag != null and nFlag != 0">
              	and n_flag = #{nFlag}
            </if>
            <if test=" startTime != null ">
                <![CDATA[ and n_date >= #{startTime} ]]>
            </if>
            <if test=" endTime != null ">
                <![CDATA[ and n_date <= #{endTime} ]]>
            </if>
        </where>
	</select>
	
	<select id="queryByPages" resultMap="BaseResultMap">
		select <include refid="Base_notice" /> from notice n where n_title like #{arg0} limit #{arg1},#{arg2}
	</select>
	
	<select id="queryTotal" resultMap="PageResult">
		select count(*) total from notice n where n_title like #{arg0};
	</select>
		
	<select id="selectNoticeById" parameterType="Integer" resultMap="BaseResultMap">
		select n_id,n_title,n_content,n_date,n_flag from notice where n_id = #{id}
	</select>
	
	<insert id="noticeInsert" parameterType="com.xin.bean.Notice">
		INSERT INTO NOTICE(n_title,n_content,n_date,n_flag) VALUES(
			#{nTitle},
			#{nContent},
			#{nDate},
			#{nFlag}
		)
	</insert>
	
	<update id="updateNotice" parameterType="com.xin.bean.Notice">
		update notice 
		<set>
			<if test="nTitle!=null and nTitle!='' ">
				n_title=#{nTitle},
			</if>
			<if test="nContent!=null and nContent!='' ">
				n_content=#{nContent},
			</if>
			<!-- <if test="nDate!=null and nDate!='' ">
				n_date=#{nDate},
			</if> -->
			<if test="nFlag!=null and nFlag!='' ">
				n_flag=#{nFlag},
			</if>
		</set>
		where n_id=#{nId}
	</update>
	
	<delete id="deleteNotice" parameterType="Integer">
		delete from notice where n_id=#{nId}
	</delete>
</mapper>
