<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xin.mapper.ScheduleMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.xin.bean.Schedule">
		<id column="s_id" property="sId" />
		<result column="user_id" property="userId" />
		<result column="s_title" property="sTitle" />
		<result column="s_content" property="sContent" />
		<result column="s_date" property="sDate" />
		<result column="s_finishdate" property="sFinishdate" jdbcType="TIMESTAMP" />
		<result column="s_flag" property="sFlag" />
		
		<collection property="listUser" ofType="com.xin.bean.User">
			<id column="id" property="id" />
			<result column="name" property="name" />
		</collection>	
	</resultMap>
	<resultMap type="com.xin.commons.utils.PageJson" id="PageResult">
		<result property="total" column="total"/>
	</resultMap>
	<select id="selectAll" resultMap="BaseResultMap">
		SELECT * FROM schedule
	</select>
	
	<select id="selectByDate" resultMap="BaseResultMap">
		SELECT * FROM schedule where DAY(s_date) = #{Day} and user_id = #{userId}
	</select>
	
	<delete id="deleteById">
		DELETE FROM schedule WHERE s_id=#{sId}
	</delete>
	
	<select id="selectById" resultMap="BaseResultMap">
		SELECT 
			s_id,
			s_content,
			s_title,
			s_date,
			s_finishdate,
			s_flag,
			u.id,
	    	u.`name`
		FROM schedule s
		LEFT JOIN user u ON s.user_id = u.id
		WHERE s_id = #{sId}
	</select>
	
	<select id="selectByuserId" resultMap="BaseResultMap">
		SELECT 
			s_id,
			s_content,
			s_title,
			s_date,
			s_finishdate,
			s_flag,
			u.id,
	    	u.`name`
		FROM schedule s
		LEFT JOIN user u ON s.user_id = u.id
		WHERE user_id = #{userId}
	</select>
	
	<select id="queryByPages" resultMap="BaseResultMap">
		select 
			s_id,
			s_content,
			s_title,
			s_date,
			s_finishdate,
			s_flag,
			u.id,
	    	u.`name` from schedule s left join user u on s.user_id = u.id where u.id=#{uid} order by s_date desc limit 0,4
	</select>
	
	<select id="queryTotal" resultMap="PageResult">
		select count(*) total from schedule s left join user u on s.user_id = u.id where u.id=#{uid}
	</select>
	
	<update id="updateById">
		update schedule 
		<set>
			<if test="userId!=null and userId!='' ">
				user_id=#{userId},
			</if>
			<if test="sTitle!=null and sTitle!='' ">
				s_title=#{sTitle},
			</if>
			<if test="sContent!=null and sContent!='' ">
				s_content=#{sContent},
			</if>
			<if test="sDate!=null and sDate!='' ">
				s_date=#{sDate},
			</if>
			<if test="sFinishdate!=null">
				s_finishdate=#{sFinishdate,jdbcType=TIMESTAMP},
			</if>
			<if test="sFlag!=null and sFlag!='' ">
				s_flag=#{sFlag},
			</if>
		</set>
		where s_id=#{sId}
	</update>
	
	<insert id="insertByid">
		INSERT INTO schedule (
			user_id,
			s_title,
			s_content,
			s_date,
			s_finishdate,
			s_flag
		) VALUES (
			#{userId},
			#{sTitle},
			#{sContent},
			#{sDate},
			#{sFinishdate},
			#{sFlag}
		)
	</insert>
	
	<select id="selectPage" resultMap="BaseResultMap">
		SELECT 
    		s_id,
    		s_title,
    		s_content,
    		s_date,
    		s_finishdate,
    		s_flag,
	    	u.id,
	    	u.`name`
    	FROM schedule s
    	LEFT JOIN user u ON s.user_id = u.id
		<where>
			<if test="begin != null and begin!= '' ">
				<![CDATA[ s_date >= #{begin} ]]>
			</if>
			<if test="end != null and end != '' ">
				 <![CDATA[ and s_date <= #{end} ]]>
			</if>
			<if test="uid != null and uid != '' and uid != 1">
				 and u.id = #{uid}
			</if>
		</where>		
	</select>

</mapper>
