<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xin.mapper.StudentMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.xin.bean.Student">
		<id column="s_id" property="sId" />
		<result column="s_name" property="sName" />
		<result column="s_studentno" property="studentNo"/>
		<result column="user_id" property="userId" />
		<result column="id_number" property="idNumber" />
		<result column="s_phone" property="sPhone" />
		<result column="s_content" property="sContent" />
		<result column="academy_id" property="academyId" />
		<result column="s_gradations" property="sGradations" />
		<result column="s_systme" property="sSystme" />
		<result column="s_date" property="sDate" />
		<result column="s_type" property="stype"/>
		
		<collection property="listAcademy" ofType ="com.xin.bean.Academy">
			<id column="a_id" property="aId" />
			<result column="a_school" property="aSchool" />
			<result column="a_major" property="aMajor" />
			<result column="a_flag" property="aFlag" />
		</collection>
		
		<collection property="listUser" ofType="com.xin.bean.User">
			<id column="id" property="id" />
			<result column="name" property="name" />
		</collection>	
	</resultMap>
	
	<sql id="Studentcolumn">
		s_studentno,s_name,user_id,id_number,s_phone,academy_id,s_gradations,s_systme,s_date,s_type,s_content
	</sql>
	
	<select id="selectAll" resultMap="BaseResultMap">
		SELECT <include refid="Studentcolumn" /> FROM student where s_type = 1 or = s_type = 2
	</select>
	
	<select id="selectByName" resultMap="BaseResultMap">
		SELECT id_number,s_phone FROM student 
		<where>
			<if test="idNumber != null and idNumber != '' ">
				id_number = #{idNumber} 
			</if>
			<if test="sPhone != null and sPhone != '' ">
				s_phone = #{sPhone}
			</if>
		</where>
	</select>
	
	<select id="selectByNo" resultMap="BaseResultMap">
		select Max(s_studentno) as s_studentno from student  
	</select>

	<insert id="insertByid" >
		INSERT INTO student(<include refid="Studentcolumn" />) 
		VALUES(
		#{studentNo},
		#{sName},
		#{userId},
		#{idNumber},
		#{sPhone},
		#{academyId},
		#{sGradations},
		#{sSystme},
		#{sDate},
		#{stype},
		#{sContent}
		)
	</insert>
	
	<select id="selectById" resultMap="BaseResultMap">
		SELECT 
    		s_id,
	    	s_studentno,
	    	s_name,
	    	user_id,
	    	id_number,
	    	s_phone,
	    	academy_id,
	    	s_gradations,
	    	s_systme,
	    	s_date,
	    	s_content,
	    	s_type,
	    	a.a_id,
	    	a.a_school,
	    	u.id,
	    	u.`name`
    	FROM student s
    	LEFT JOIN academy a ON s.academy_id = a.a_id
    	LEFT JOIN user u ON s.user_id = u.id
		WHERE s_id = #{sId}
	</select>
	
	<delete id="deleteById">
		DELETE FROM student WHERE s_id = #{sId}
	</delete>
	
	<update id="updateById">
		UPDATE student SET 
			s_name = #{sName},
			user_id = #{userId},
			id_number = #{idNumber},
			s_phone = #{sPhone},
			academy_id = #{academyId},
			s_gradations = #{sGradations},
			s_systme = #{sSystme},
			s_content = #{sContent},
			s_type = #{stype},
			s_date = #{sDate}
		 WHERE 
		 	s_id = #{sId}
	</update>
    
    <select id="selectPage" resultMap="BaseResultMap">
    	SELECT 
    		s_id,
	    	s_studentno,
	    	s_name,
	    	user_id,
	    	id_number,
	    	s_phone,
	    	academy_id,
	    	s_gradations,
	    	s_systme,
	    	s_content,
	    	s_date,
	    	s_type,
	    	a.a_id,
	    	a.a_school,
	    	u.id,
	    	u.`name`
    	FROM student s
    	LEFT JOIN academy a ON s.academy_id = a.a_id
    	LEFT JOIN user u ON s.user_id = u.id
    	<where>
    		s_type = 1 or s_type = 2
    		<if test="uid != 1">
    			and user_id = #{uid}
    		</if>
    		<if test="name != null and name != '' ">
    			and s_name = #{name}
    		</if>
    		<if test="studentNo != null and studentNo != '' ">
    			and s_studentno = #{studentNo}
    		</if>
    	</where>
    </select>

</mapper>
